@{
    ViewData["Title"] = "Chi tiết Bộ sưu tập";
    Layout = "_CollectionLayout";
}

<div id="collection-container" class="collection-container" data-collection-id="@ViewBag.CollectionId">

    <div class="header">
        <div class="header-left-group">
            <a href="/Collection/Collection" class="btn btn-gray back-button">
                <i data-lucide="arrow-left"></i>
                <span>Quay lại</span>
            </a>
            <h2 id="collection-name"></h2>
        </div>

        <div id="actions-container" class="actions">
        </div>
    </div>
    <hr class="divider" />
    <p id="collection-description" class="description"></p>
    <div id="image-grid" class="image-grid">
    </div>
</div>

@section Scripts {
    <script>
        // Truyền các ID cần thiết sang cho JavaScript
        const COLLECTION_ID = '@ViewBag.CollectionId';
        const CURRENT_USER_ID = '@(Context.Session.GetString("UserId"))';
    </script>
    <script src="~/js/ImageDetail.js" asp-append-version="true"></script>
    <script src="~/js/CollectionDetail.js" asp-append-version="true"></script>
}
@await Html.PartialAsync("~/Views/Image/ImageDetail.cshtml")