@{
    ViewData["Title"] = "Trang chủ";
    ViewData["ShowEditButton"] = false;
}

<div id="image-grid" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 pb-20">
</div>

<div id="loading-indicator" class="text-center p-4 text-gray-500 hidden">
    Đang tải thêm ảnh...
</div>