<div id="collect-modal" class="collect-modal-overlay hidden">
    <div class="collect-modal-container">
        <div class="collect-modal-header">
            <h3 class="collect-modal-title">Thêm vào bộ sưu tập</h3>
            <button id="collect-modal-close" class="collect-modal-close-btn">
                <i data-lucide="x"></i>
            </button>
        </div>
        <div id="collect-modal-body" class="collect-modal-body">
        </div>
        <div class="collect-modal-footer">
            <a id="create-collection-link" href="#" class="create-collection-link">
                <i data-lucide="plus-circle"></i>
                <span>Tạo bộ sưu tập mới</span>
            </a>
        </div>
    </div>
</div>