<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-g" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DoAnWebAPI_WebMVC</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DoAnWebAPI_WebMVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/HomeFilter.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/HomeBody.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ImageDetail.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/addCollectionModal.css" asp-append-version="true" />

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex flex-col min-h-screen bg-gray-50">

    <header class="flex-shrink-0">
        @await Html.PartialAsync("_layoutHeader")
    </header>

    <main id="content-container" role="main" class="flex-grow overflow-y-auto p-4">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted flex-shrink-0">
        @await Html.PartialAsync("_layoutFooter")
    </footer>
    @await Html.PartialAsync("_addCollectionModal")
    <script>
        window.jwtToken = @Html.Raw(Json.Serialize(Context.Session.GetString("JWToken")));
        window.CURRENT_USER_ID = '@Context.Session.GetString("UserId")';
    </script>
    @await Html.PartialAsync("~/Views/Image/ImageDetail.cshtml")
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Header.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Footer.js" asp-append-version="true"></script>
    <script src="~/js/apiServices.js" asp-append-version="true"></script>
    
    <script src="https://unpkg.com/lucide@latest"></script>


    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>